.taskbar {

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.69);
    backdrop-filter: blur(20px);
    
}
.icons {
    display: grid;
    grid-template-columns: 50px 100px 50px 50px 50px 50px;
    column-gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    justify-content: center;
}

.start {
    height: 40px;
    width: 40px;
    margin-left: -10%;
    margin-top: 5px;
    cursor: pointer;
    z-index: 10001;
    transition: background-color .2s;
    border-radius: 10%;
    line-height: 50px;
}

.start:hover , .file-explorer:hover {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 10%;
}

.search-btn{
    height: 30px;
    width: 90px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    z-index: 10001;
    transition: background-color .2s;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    margin-bottom: 15px;
    border: none;
    outline: none;
}

.search-btn:hover {
    background-color: rgba(246, 246, 246, 1);
}
.search-icon{
    position: relative; 
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    z-index: 20001;
    color: white;
    filter: invert(0%);
}


.file-explorer {
    height: 40px;
    width: 40px;
    margin-left: -10%;
    margin-top: 5px;
    cursor: pointer;
    z-index: 10001;
    transition: background-color .2s;
    border-radius: 10%;
    line-height: 50px;
}

.desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9996;

    background-color: white;
}

.desktop .background-img {
    background-image: url("img/desktop-light.jpg");
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9997;
    background-repeat: no-repeat;
    background-size: cover;

}

.modal{
    position: fixed;
    top: -100;
    left: 50%;
    width: 40%;
    height: 40%;
    z-index: 20000;
    background-color: rgb(255, 255, 255);
    display: block;
}

body {
    margin: 0;
    padding: 0;
    z-index: 9995;
}